<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/update}" th:object="${user}" method="post" >
    <table>
        <tr>
            <td>Имя:</td>
            <td><input type="text" required th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Возраст:</td>
            <td><input type="number" required th:field="*{age}" /></td>
        </tr>
        <tr>
            <td>Город:</td>
            <td><input type="text" required th:field="*{city}" /></td>
        </tr>
        <tr>
            <td><button type="submit">Отправить</button></td>
        </tr>
    </table>
</form>
</body>
</html>